/* Reset simples */

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
